:root {
  --transition: 0.3s;
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background-color: #f6f6f6;
  --line-height: 1.6;
  --p-color: #444;
}
html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  margin: 0;
  letter-spacing: -3px;
  text-align: center;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  color: #797979;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  padding: 20px;
  background-color: #f6f6f6;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .icon span {
  background-color: #222;
  margin-bottom: 5px;
  height: 2px;
}
.header .icon span:first-child {
  width: 100%;
}
.header .icon span:nth-child(2) {
  width: 60%;
  transition: var(--transition);
}
.header .icon span:last-child {
  width: 100%;
}
.header .links ul {
  z-index: 1;
  list-style: none;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: 100%;
  display: none;
  transition: var(--transition);
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
  position: absolute;
  top: -20px;
  right: 0;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--transition);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.landing {
  background-image: url(../image/mountains2.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 14px;
  line-height: var(--line-height);
}
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  font-weight: bold;
  line-height: var(--line-height);
  font-size: 17px;
}
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .content {
  margin: 40px 0;
}
.services .content .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .content .serv .text {
  flex: 1;
}
.services .content .serv .text h3 {
  margin: 0;
}
.services .content .serv .text p {
  color: var(--p-color);
  font-weight: 300;
  line-height: var(--line-height);
}
.services .content .image {
  text-align: center;
  position: relative;
}
.services .content .image img {
  width: 260px;
  height: 500px;
}
.services .content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 80px);
  position: absolute;
  top: -40px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .img-col {
    display: none;
  }
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.portfolio .content {
  margin-top: 80px;
}
.portfolio .content .card {
  background-color: white;
}
.portfolio .content .card img {
  width: 100%;
}
.portfolio .content .card .info {
  padding: 20px;
}

.portfolio .content .card .info h3 {
  margin: 0;
}
.portfolio .content .card .info p {
  line-height: var(--line-height);
  color: var(--p-color);
  margin-bottom: 0;
}
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .content {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .about .content {
    flex-direction: column;
    text-align: center;
  }
}
.about .content .image {
  position: relative;
  background-color: var(--section-background-color);
  width: 260px;
  height: 500px;
}
.about .content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 80px);
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 390px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  right: -150px;
  top: -40px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .content .image::before,
  .about .content .image::after {
    display: none;
  }
}
.about .content .text {
  flex-basis: calc(100% - 500px);
}
.about .content .text p:first-child {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .content .text hr {
  width: 60%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .content .text p:last-child {
  line-height: var(--line-height);
  color: var(--p-color);
}
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
